html {
  height: 100vh;
}

.card {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.487);
  margin: 1rem;
  position: fixed;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.camp {
  padding-bottom: 0.5rem;
}

label,
button {
  font-weight: bold;
}

form {
  width: 100%;
}

.sidebar {
  background-color: #ff8fb1;
  grid-area: side;
}

.todo {
  display: flex;
  justify-content: center;
  grid-area: main;
}

.todolist {
  width: 50%;
}

body {
  display: grid;
  background-color: #fce2db;
  height: 100%;
  /* grid-template-columns: 1.5fr 7fr; */
  grid-template:
    "header header header header header header header header header header header header" 0.1fr
    "side main main main main main main main main main main main";
}

.header {
  background-color: #7a4495;
  color: white;
  grid-area: header;
}

.header h1 {
  padding: 0.5rem;
}

.lig {
  background-color: #ff8fb162;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  border-color: white;
  border-right: 0px;
  border-left: 0px;
  padding: 0.5rem;
}
